DATABASE_URL="mysql://dihyaharch_user:YOUR_PASSWORD@localhost:3306/dihyaharchery_club_db"
SHADOW_DATABASE_URL="mysql://dihyaharch_user:YOUR_PASSWORD@localhost:3306/dihyaharchery_club_db_shadow"
AUTH_SECRET="generate-with-node-crypto-randombytes-32"
AUTH_TRUST_HOST="true"
AUTH_URL="https://dihyaharchery.com"
NEXTAUTH_URL="https://dihyaharchery.com"
NEXT_PUBLIC_API_URL="https://dihyaharchery.com"
ENABLE_DEV_AUTH="false"
NODE_ENV="production"
MAIL_FROM="DIHYAH ARCHERY CLUB <noreply@dihyaharchery.com>"
SENDMAIL_PATH="/usr/sbin/sendmail"
