@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 43%;
    --accent: 160 84% 96%;
    --accent-foreground: 163 88% 20%;
    --primary: 160 84% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 27% 94%;
    --secondary-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 88%;
    --input: 214 32% 88%;
    --ring: 160 84% 32%;
    --radius: 0.4rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-slate-100 text-foreground antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
